/* Base */
body {
  font: 16px 'Helvetica Neue';
  min-width: 400px;
  overflow-x: hidden;
  text-align: center;
  background-color: #45a8ea;
  color: #fff;
  font: 16px 'Helvetica Neue';
}

/* General */
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  /*font-family: "Monaco", monospace;*/
  margin: 0;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 0;
}

/* Helpers */
.text-center
{
  text-align: center;
}

/* Grid */
.row:after
{
  content: '';
  display: table;
  clear: both;
}

.col-left
{
  float: left;
}

.col-right
{
  float: right;
}

/* Components - Snackbar */
.snackbar
{
  background: rgba(40, 40, 40, .8);
  border-radius: 30px;
  left: 10%;
  padding: 15px;
  position: fixed;
  right: 10%;
  top: 20px;
  opacity: 0;
  transform: translateY(-20px);

  transition-property: opacity, transform;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
.snackbar.is-visible
{
  opacity: 1;
  transform: translateY(0);
}

/* Components - Journey */
.journey {
  text-align: left;
}

.journey ul {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

/* Components - Debug */
.dom-debug {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 400px;
  height: 400px;
  border-radius: 3px;
  background: #eee;
  box-shadow: 0 0 5px rgba(0.6, 0.6, 0.6, 0.6);
}

.dom-debug .head {
  background: #ddd;
  text-align: center;
  padding: 0 10px;
}
.dom-debug .body {
  padding: 10px;
  overflow-y: scroll;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0; 
}

.dom-debug label:hover {
  border-radius: 3px;
  background: #ddd;
  cursor: pointer;
}
